$bg-2: linear-gradient(111deg, #ffd0c6 5.11%, #ffe2a9 90.22%);
$sponsor-border-color: #d88e0a;
$card-border-color: #ce4013;

body {
  width: 100%;
  height: 100%;
  background: var(--BG-2, #{$bg-2});
}

.heading {
  display: flex;
  justify-content: center;
  margin-bottom: 7.875rem;
}

.sponsorContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 1.938rem 1.8rem;
}

.sponsor {
  display: flex;
  max-width: 430px;
  width: 30vw;
  min-width: none;
  height: 20vh;
  max-height: 270px;
  min-height: 200px;
  padding: 3vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.4645rem;
  flex-shrink: 0;
  border-radius: 0.8rem;
  border: 0.2rem solid $sponsor-border-color;
  background: rgba(255, 255, 255, 0.17);
  box-shadow: -0.15rem -0.35rem 1.57rem 0px #ffd3c2 inset;
  img {
    width: 20vw;
    max-width: 430px;
    height: auto;
    min-height: 50px;
  }
}

#Indian_Oil img {
  height: auto;
  width: auto;
}

.bihu {
  width: 100%;
  max-width: 120rem;
  height: auto;
  flex-shrink: 0;
  opacity: 0.57;
  background: lightgray -5.88rem -3.005rem / 6.256rem 6.994rem no-repeat;
  mix-blend-mode: color-burn;
}

.cardContainer {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5.7rem;
  margin-top: 7.875rem;
}

.card {
  display: flex;
  width: 30.965rem;
  height: 51.53rem;
  padding: 2.695rem 2.75rem 2.505rem 3.245rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.88rem;
  border: 0.11rem solid $card-border-color;
}

.inner {
  display: flex;
  width: 24.97rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.375rem;
}

.number {
  color: #5f1516;
  text-align: center;
  font-family: "DM Serif Text";
  font-size: 1.76rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.title {
  align-self: stretch;
  text-align: center;
  font-family: "DM Serif Text";
  font-size: 1.76rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background: linear-gradient(90deg, #5f1516 0%, #c52c2e 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.content {
  align-self: stretch;
  color: #5f1516;
  text-align: center;
  font-family: Alata;
  font-size: 0.88rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media screen and (max-width: 500px) {
  .cardContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3.75rem; // 60px converted to rem
    flex-shrink: 0;
    height: 100%; // Adjust height as needed
    .card {
      width: 80vw;
    }
  }
  .sponsor {
    width: 40vw;
    img {
      // display: none;
      width: 100px;
      height: auto;
    }
  }
  .number {
    font-size: 1.25rem;
  }
  .title {
    font-size: 1.5rem;
  }
  .content {
    font-size: 0.75rem;
  }
}
