.FilmClass {
  scale: 1.3;
  display: block;
  scale: 0.5;
  margin-left: auto;
  margin-right: 5rem;
  width: 50%;
  height: 50%;
  position: absolute;
  left: 20%;
  top: 80%;
}
@media screen and (max-height: 550px) {
  .FilmClass {
    top: 100%;
  }
}
