.gradFilter {
  background-image: linear-gradient(180degrgb (228, 197, 156), transparent);
  z-index: 2;
  background-attachment: fixed;
}
.ParentScrollClass1 {
  animation: primary 2s linear infinite;
  height: 70%;
  width: 25%;
  margin-left: 55%;
  overflow: auto;
  position: absolute;
  border-radius: 0.5rem;
  background-image: url("https://res.cloudinary.com/dl0knguhb/image/upload/v1711040716/Component_1_t7adas.webp");
  background-size: cover;
  .eachItem1 {
    scale: 0.8;
    margin: 0 auto;
    animation: primary 2s linear infinite;
    // z-index: -1;
  }
}
.ParentScrollClass1::-webkit-scrollbar {
  display: none;
}
@keyframes primary {
  from {
    top: 0%;
  }
  to {
    top: -100%;
  }
}
.ParentScrollClass2 {
  animation: secondary 2s linear infinite;
  height: 70%;
  width: 25%;
  margin-left: 55%;
  overflow: auto;
  position: absolute;
  border-radius: 0.5rem;
  background-image: url("https://res.cloudinary.com/dl0knguhb/image/upload/v1711040716/Component_1_t7adas.webp");
  background-size: cover;
  .eachItem2 {
    scale: 0.8;
    margin: 0 auto;
    animation: secondary 2s linear infinite;
    // z-index:-1;
  }
}
.ParentScrollClass2::-webkit-scrollbar {
  display: none;
}

@keyframes secondary {
  from {
    top: 100%;
  }
  to {
    top: 0%;
  }
}
