@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  -webkit-tap-highlight-color: transparent;
  // overflow-x: hidden;
}

#root {
  // background: linear-gradient(40deg, #e54927, #ffdc97);
  padding: 0;
}