.superParent {
  overflow: hidden;
  overflow-x: hidden;
  min-height: 100vh;

  .parent {
    color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20vh;
    padding-left: 10vw;
    height: 100%;

    .innerCont {
      width: 40%;
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: space-around;
      row-gap: 2.5rem;

      .heading {
        font-size: 4rem;
        font-family: "DM Serif Text", sans-serif;
        font-weight: 400;
        font-style: normal;
      }

      .description {
        font-size: 1.5rem;
        font-family: "Alata", sans-serif;
        font-weight: 100;
        font-style: normal;
      }
    }
  }

  .ExtendedView {
    position: absolute;
    top: 0;
    background-color: black;
    min-height: 100%;
    min-width: 100vw;
    color: #ffffff;
  }
}
